$dark-blue: rgb(6, 8, 35);
$light-blue: #08aef5;
$light-blue-50: rgba(8, 175, 245, 0.5);
$light-gray: rgb(186, 190, 200);
:root {
  scroll-behavior: smooth;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
body {
  background-color: $dark-blue;
  color: white;
}

.mobile-menubtn {
  display: none;
}
.mobile-menubtn-label {
  display: none;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex: 3;
}

.dropdown {
  display: none;
}
a {
  text-decoration: none;
}
.jumb:hover {
  transform: translateY(-5px);
  transition: transform 0.3s linear;
}
.section-name {
  color: $light-blue;
  font-weight: 600;
  &::before,
  &::after {
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    background: $light-blue;
    border-radius: 50%;
    margin: 2px 4px;
  }
}
.diagonal-rounded-border {
  border-radius: 0px 18px 0px 12px;
}

.btn {
  border: 2px solid $light-blue;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  padding: 0.75rem 2.25rem;
  cursor: pointer;
  font-size: 17px;
  transition: color, background 0.3s linear;

  &-blue {
    background-color: $light-blue;
    color: white;
    &:hover {
      color: $light-blue;
      background-color: transparent;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
  .title {
    font-size: 3em;
    font-weight: 500;
  } 
  .subtitle {
    color: $light-gray;
    font-weight: 500;
    margin-top: 1rem;
  }
}

.highlight {
  position: relative;
  color: $light-blue;
  .wavey-underline {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  svg path {
    stroke: $light-blue;
    fill: $light-blue;
    width: 100%;
  }
  .sign-line {
    position: absolute;
    top: -19%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100px;
    path {
      fill: transparent;
      stroke-width: 10px;
    }
  }
}

.illustration-container {
  margin: auto;
  img {
    width: 90%;
  }
}


.read-more {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  color: $light-blue;
  padding-left: 0px;
  &:hover {
    color: white;
    & i {
      transform: translateX(5px);
      transition: transform 0.3s linear !important;
    }
  }
  i {
    padding-top: 3px;
  }
}

.go-up a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1rem;
  // border: 1px solid $dark-blue;
  border-radius: 5px;
  background: $light-blue;
  color: white;
  z-index: 999;
  opacity: 0.5;
  box-shadow: 0px 0px 15px 5px rgba(6, 8, 35, 0.3);
  &:hover {
    opacity: 1;
  }
}

header {
  position: fixed;
  width: 100%;
  background: $light-blue;
  padding: 0.75rem 0;
  z-index: 5;
  .logo {
    flex: 1;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    ul {
      display: flex;
      gap: 2rem;
      list-style-type: none;

      li a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;

        &.active {
          position: relative;
          &::before {
            content: "";
            width: 5px;
            height: 5px;
            background: white;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
            border-radius: 50%;
            margin: 0 2px 2px 0;
          }
          i {
            font-size: 13px;
          }
        }
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    .btn {
      width: 30px;
      border-radius: 5px;
    }

    .btn-search {
      font-size: 1.5em;
      background: transparent;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    .btn-theme {
      cursor: pointer;
      padding: 5px 7px;
      font-size: 1em;
      color: $light-blue;
      background: white;
      border: none;
      border-radius: 5px;
    }
  }
}

#it-solutions {
  background-image: url(../img/pattern-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    background: rgb(6, 8, 35, 0.6);
    display: grid;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 7rem;

    .play-btn {
      width: 50px;
      height: 50px;
      background-color: $light-blue;
      color: white;
      border-radius: 50%;
      display: grid;
      place-content: center;
      position: relative;
      z-index: 0;
      cursor: pointer;
      &:hover {
        background-color: white;
        i {
          color: $light-blue;
        }
        &::before,
        &::after {
          background-color: white;
          
        }
      }
      &::before {
        animation-delay: 0.6s !important;
        background: $light-blue-50;
      }
      &::after {
        background: $light-blue-50;
      }
      &::before,
      &::after {
        content: "";
        width: 50px;
        height: 50px;
        border-radius: inherit;
        position: absolute;
        top: 0;
        animation: pulse 2s infinite linear;
        z-index: -10;
      }
    }
  }
  .title {
    font-weight: 900;
  }
  .subtitle {
    padding: 1rem 0;
  }
  img {
    max-width: 90%;
  }
  .social-media {
    a {
      margin-right: 1rem;
      text-decoration: none;
      color: white;
      &:hover {
        color: $light-blue;
      }
    }
  }
  .btn-start {
    background: transparent;
    color: $light-blue;
    &:hover {
      background: $light-blue;
      color: white;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

main {
  #services {
    margin: 5rem 0;

    .header {
      button {
        background-color: $light-blue;
        color: #fff;

        &:hover {
          color: $light-blue;
          background-color: transparent;
        }
      }
    }
    .services {
      display: grid;
      gap: 1rem;
      margin-top: 2rem;
    }

    .card {
      border: 1px solid $light-blue;
      border-radius: 10px;
      padding: 25px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: $light-blue;
        border-radius: 10px;
        height: 100%;
        width: 0%;
        z-index: -1;
        transition: width 0.2s linear;
      }

      &:hover::before {
        width: 100%;
      }
      &:hover {
        .card-img svg path {
          fill: white;
          transition: fill 0.2s linear;
        }

        .btn {
          color: white !important;
        }
        img {
          filter: invert(0.5);
        }
      }
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        p {
          color: $light-gray;
          font-weight: 500;
        }

        .card-img {
          width: 54px;
          height: 54px;

          svg {
            width: 54px;
            height: 54px;
          }
        }
        h3 {
          font-weight: 600;
          font-size: 1.5em;
        }
        
      }
    }
  }
  #about-us {
    .container {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 2rem;
      margin: 5rem 0;
    }

    .about-us {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .card {
          display: grid;
          grid-template-columns: 50px 1fr;
          gap: 1rem;
          .icon {
            border-radius: 5px;
            width: 50px;
            height: 50px;
            // color: $light-blue;
            // background-color: $light-blue-50;
            display: grid;
            place-content: center;
            font-size: 1.25em;
          }
          h4 {
            font-size: 1.5em;
          }
          p {
            color: $light-gray;
            font-weight: 500;
          }
        }
      }

      a {
        color: white;
        text-decoration: none;
        background-color: $light-blue;
        &:hover {
          color: $light-blue;
          background-color: transparent;
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $light-blue;
      margin-top: 2rem;
      text-align: center;
      img {
        width: 150px;
        margin-bottom: -0.7rem;
      }
    }
  }
  #why-choose-us {
    .container {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin: 5rem 0;
    }
    img {
      margin-bottom: -0.7rem;
    }
    ol {
      list-style-position: inside;
      li {
        counter-increment: li;
        &::marker {
          color: $light-blue;
          font-weight: 500;
          content: "0" counter(li) ".";
          font-size: 3em;
          font-family: "Jost", sans-serif;
        }
        &:last-child p {
          padding-bottom: 2rem;
        }
      }
      h4 {
        font-size: 1.5em;
        display: inline;
      }
      p {
        padding-left: 5rem;
      }
    }
    .btn {
      display: block;
      width: fit-content;
    }
  }
  #our-work {
    margin: 5rem 0rem;
    background-image: url(../img/pattern-bg-2.jpg);
    .container {
      height: 100%;
      background-color: rgba(6, 8, 35, 0.6);
    }
    .our-work {
      display: grid;
      align-content: center;
      gap: 1rem;
      padding: 6rem 0;
      width: 100%;
      height: 100%;
    }
    .card {
      background: #00000050;
      text-align: center;
      border: 1px solid $light-blue;
      border-top-width: 5px;
      padding: 2rem 0;
      border-radius: 0 0 8px 8px;

      h4 {
        font-size: 3em;
        font-weight: 600;
      }
    }
  }

  #portfolio {
    margin: 3rem 0;

    .header {
      button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;

        i {
          padding-top: 2px;
        }
      }
    }

    .tabs {
      display: flex;
      align-items: start;
      gap: 1rem;
      padding-left: 8px;
      font-weight: 500;
      margin-bottom: 1rem;
      .tab {
        position: relative;
        font-size: 18px;
        &.active {
          color: $light-blue;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -8px;
            transform: translateY(-50%);
            background-color: $light-blue;
            width: 5px;
            height: 5px;
            border-radius: 50%;
          }
        }
      }
    }
    .items {
      display: grid;
      gap: 1rem;
      .item {
        position: relative;
        overflow: hidden;
      }
      img {
        width: 100%;
        height: 100%;
      }

      .item-name {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        position: absolute;
        background: #00000050;
        h5 {
          font-size: 18px;
        }
        i {
          transform: translateX(0px);
          padding: 1rem 0.75rem;
        }
      }
    }
  }

  #clients {
    padding: 4rem 0;
    text-align: center;
    background-color: $light-blue;
    .clients {
      margin-top: 3rem;
      a {
        img {
          width: 190px;
          height: 125px;
          border-radius: 10px;
          filter: grayscale(1);
        }
        &:hover img {
          filter: grayscale(0);
        }
      }
    }
  }
  #pricingplans {
    margin: 3rem 0;
    .plans {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      .card {
        border: 1px solid $light-blue;
        padding: 1rem;
        width: 280px;
        margin: 2rem 0;
        border-radius: 10px 10px 0 0;
        &.best-plan {
          background: $light-blue;
          color: white;
          overflow: hidden;
          position: relative;
          &.best-plan .plan-header {
            border-bottom: 2px solid white;
          }
          sup {
            color: white !important;
          }
          button {
            border-color: white;
            color: white !important;
            &:hover {
              background: white !important;
              color: $light-blue !important;
            }
          }

          &::after {
            content: "Most Popular";
            background: white;
            color: $light-blue;
            width: 100%;
            font-size: 13px;
            font-weight: 900;
            text-align: center;
            transform: rotateZ(42deg);
            position: absolute;
            top: 45px;
            right: -90px;
          }
          & .plan-header::after {
            background-color: white !important;
          }
        }
        .plan-header {
          position: relative;
          align-items: center;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 1rem 0;
          border-bottom: 2px solid $light-blue;

          .plan-name {
            font-size: 1.5em;
          }
          .plan-price {
            font-size: 4em;
            font-weight: 600;
            height: 60px;
            sup {
              font-size: 0.4em;
              color: $light-blue;
            }
          }
          .subtext {
            color: $light-gray;
            font-size: 1.2em;
            font-style: italic;
          }
        }
        .plan-details {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
          margin-top: 1rem;
          ul {
            list-style-type: none;
            li {
              margin-bottom: 2rem;
              text-align: center;
            }
          }
          button {
            width: 100%;
            background: transparent;
            color: $light-blue;
            &:hover {
              background: $light-blue;
              color: white;
            }
          }
        }
      }
    }
  }
  #testimonials {
    position: relative;
    background-image: url("../img/pattern-bg-4");
    background-attachment: fixed;

    .container {
      background: #0009;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .header {
      text-align: center;
      & > div:first-child {
        width: 100%;
      }
    }
    .slider-controls {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      button {
        width: 50px;
        height: 50px;
        font-size: 1.5em;
        border: none;
        cursor: pointer;
        background: #fff5;
        color: #fff;

        &:hover{
          background: #fff9;

        }
      }
    }
    .testimonial-container {
      width: 100%;
      margin: 3rem auto;
      .testimonials {
        display: grid;
        grid-template-columns: 100% 100%;
        grid-template-rows: 1fr;
        width: 100%;
        overflow: hidden;
        .testimonial {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
          width: 100%;
          .testimonial-img {
            width: 80px;
            height: 80px;
            border: 3px solid $light-blue;
            border-radius: 50%;
            img {
              width: 100%;
            }
          }
          .testimonial-text {
            text-align: center;
            width: 50%;
          }
          .testimonial-author p {
            color: $light-gray;
            text-align: center;
          }
        }
      }
    }
  }

  #blog {
    margin: 2rem 0 5rem;
    .blog {
      display: grid;
      gap: 1.5rem;
      .card {
        img {
          transform: scale(1.1);
        }
        &:hover {
          img {
            transform: scale(1.2);
            transition: transform 0.3s linear;
          }
        }
        button {
          background: transparent;
          padding-left: 0;
          color: $light-blue;
          border-color: transparent;
        }

        .card-header {
          position: relative;
          overflow: hidden;
          span {
            position: absolute;
            top: 1rem;
            left: 1rem;
            background: #000000cf;
            color: #fff;
            padding: 3px 15px;
            border-radius: 50px;
          }
        }
        .card-body {
          background: rgb(7, 34, 64);
          padding: 1rem;
          .category-author {
            a {
              padding: 0 10px;
              font-size: 13px;
              color: $light-gray;
              &:first-child {
                border-right: 1px solid $light-gray;
                padding-left: 0;
              }
              &:hover,
              i {
                color: $light-blue;
              }
            }
          }
          .card-text {
              .card-title {
              font-size: 1.3em;
              font-weight: 600;
            }
            p{
              color: $light-gray; 
            }
            a {
              color: white;
              &:hover {
                color: $light-blue;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  background-image: url("../img/pattern-bg-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    background: rgb(6, 8, 35, 0.9);
  }
  .footer {
    display: grid;
    gap: 1rem;
    padding-top: 2rem;

    form {
      margin-top: 1rem;
      label {
        font-weight: 500;
      }
      div {
        display: flex;
        input[type="email"] {
          flex: 3;
          border: 0;
          color: #fff;
          height: 50px;
          font-weight: 600;
          background-color: #ffffff50;
          padding: 0.25rem;
          &::placeholder {
            color: #fff;
          }
        }
        button {
          flex: 1;
          background-color: $light-blue;
          color: white;
          height: 50px;
          border: 0;
          padding: 0 1rem;
          font-size: 15px;
          font-weight: 600;
          cursor: pointer;
        }
      }
      .warning {
        color: $light-gray;
      }
    }
    .links,
    .resourse {
      list-style-type: none;
      margin-top: 1rem;
    }
    ul {
      li {
        margin-bottom: 0.5rem;
        i {
          color: $light-blue;
        }
        a {
          color: #fff;
          font-weight: 500;
        }
        &:hover a {
          transform: translateX(5px);
          transition: transform 0.1s linear;
        }
      }
    }
    ul li,
    .social-media {
      display: flex;
      gap: 0.5rem;
    }
    .contact-information {
      margin-bottom: 1rem;
      font-weight: 600;
      & > * {
        margin-bottom: 1rem;
      }
      div a {
        color: white;
        background-color: $light-blue;
        display: grid;
        place-content: center;
        border-radius: 5px;
        width: 25px;
        height: 25px;
      }
      .social-media a:hover {
        color: $light-blue;
        background-color: white;
      }
    }
  }
  .copyright {
    margin-top: 3rem;
    font-weight: 500;
    text-align: center;
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

/*! desktop */
@media (min-width: 993px) {
  .container {
    padding: 0 10%;
  }
  header nav ul li a:hover {
    position: relative;
    &::before {
      content: "";
      width: 5px;
      height: 5px;
      background: white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      border-radius: 50%;
      margin: 0 2px 2px 0;
    }
  }
  .dropdown-container {
    position: relative;
    .dropdown {
      padding: 0.5rem;
      position: absolute;
      left: 50%;
      top: 23px;
      transform: translateX(-50%);
      background: $light-blue;
      color: white;
      text-align: center;
      li {
        width: 150px;
        height: 100%;
        padding: 1rem 0.5rem;
      }
    }
    &:hover .dropdown {
      display: block;
    }
  }

  #it-solutions {
    .container {
      grid-template-columns: 1fr 1fr;
    }
    .header {
      flex-direction: column;
      align-items: start;
    }
  }
  #services .services {
    grid-template-columns: repeat(3, 1fr);
  }
  #about-us {
    .card {
      width: 48%;
      .icon {
        color: $light-blue;
        background-color: $light-blue-50;
      }
      &:hover .icon {
        transform: translateY(-10px);
        background: $light-blue;
        color: white;
        transition: all 0.3s linear;
      }
    }
  }

  #our-work .our-work {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 250px);
  }

  #portfolio .items {
    grid-template-columns: repeat(3, 1fr);
    .item {
      .item-name {
        bottom: -48px;
        i {
          transform: translateX(-40px);
        }
      }
      &:hover {
        img {
          transform: scale(1.1);
          transition: all 0.3s linear;
        }
        .item-name {
          bottom: 0;
          transition: bottom 0.3s linear;
          i {
            transform: translateX(0px);
            transition: transform 0.3s 0.3s linear;
            &:hover {
              background: $light-blue;
              color: white;
              padding: 1rem 0.75rem;
            }
          }
        }
      }
    }
  }
  .header .subtitle {
    width: 60%;
  }
  #pricingplans {
    .header > div:first-child {
      width: 70%;
    }
    .subtitle {
      width: 90%;
    }
    .plans {
      justify-content: space-between;
    }
  }
  #blog .blog {
    grid-template-columns: repeat(3, 1fr);
  }
  footer .footer {
    grid-template-columns: 2fr repeat(3, 1fr);
  }
}
/*? tablet */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    padding: 0 5%;
  }
  .header {
    flex-wrap: wrap;
    align-items: start !important;
    margin-bottom: 2rem;
  }
  header {
    position: relative;
    nav {
      border-top: 3px solid $dark-blue;
      background: $light-blue;
      width: 100%;
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 2rem;
      ul {
        flex-direction: column;
      }
    }
  }

  .dropdown-container:hover .dropdown {
    display: block;
  }
  .dropdown li {
    padding: 0.75rem;
  }
  .mobile-menubtn-label {
    display: block;
  }
  .mobile-menubtn:checked ~ nav {
    display: block;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
  }
  .illustration-container {
    text-align: center; 
  }

  #about-us {
    .container {
      flex-wrap: wrap;
    }
    .about-us .cards {
      grid-template-columns: 1fr;

      .card {
        display: grid;
        grid-template-columns: 50px 1fr;
        .icon {
          color: $light-blue;
          background-color: $light-blue-50;
        }
      }
    }
  }
  #pricingplans {
    .plans {
      justify-content: space-between;
    }
  }
  #why-choose-us .container {
    flex-wrap: wrap-reverse;
  }
  #clients .clients {
    grid-template-columns: repeat(3, 1fr);
  }
  #portfolio .items .item .item-name {
    bottom: 0px;
  }
  #services .services,
  #our-work .our-work,
  #pricingplans .plans,
  #portfolio .items {
    grid-template-columns: repeat(2, 1fr);
  }
  #blog .blog,
  #it-solutions .container {
    grid-template-columns: 1fr;
  }
  footer .footer {
    grid-template-columns: 2fr 1fr;
  }
}
/* mobile */
@media (max-width: 767px) {
  .container {
    padding: 0 2%;
  }
  .illustration-container {
    text-align: center;
  }
  header {
    position: relative;
    nav {
      border-top: 3px solid $dark-blue;
      background: $light-blue;
      width: 100%;
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 2rem;
      ul {
        flex-direction: column;
      }
    }
  }
  .mobile-menubtn-label {
    display: block;
  }
  .mobile-menubtn:checked ~ nav {
    display: block;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
  }
  .dropdown-container:hover .dropdown {
    display: block;
  }
  .dropdown li {
    padding: 0.75rem;
  }
  #it-solutions .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #about-us {
    .container {
      flex-wrap: wrap;
    }
    .about-us .cards {
      grid-template-columns: 1fr;
    }
  }
  .header {
    flex-wrap: wrap;
    align-items: start !important;
    margin-bottom: 2rem;
  }
  #about-us .card {
    width: 100%;
    .icon {
      color: $light-blue;
      background-color: $light-blue-50;
    }
  }
  #why-choose-us .container {
    flex-wrap: wrap-reverse;
  }
  #pricingplans {
    .plans {
      justify-content: center;
    }
  }
  #portfolio {
    .tabs {
      justify-content: center;
      flex-wrap: wrap;
    }
    .items {
      padding: 0 10%;
      .item {
        .item-name {
          bottom: 0px;
        }
      }
    }
  }
  #it-solutions .container,
  #portfolio .items,
  #clients .clients,
  #services .services,
  #our-work .our-work,
  #blog .blog,
  #pricingplans .plans,
  footer .footer {
    grid-template-columns: 1fr;
  }
}
