:root {
  scroll-behavior: smooth;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  background-color: rgb(6, 8, 35);
  color: white;
}

.mobile-menubtn {
  display: none;
}

.mobile-menubtn-label {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex: 3;
}

.dropdown {
  display: none;
}

a {
  text-decoration: none;
}

.jumb:hover {
  transform: translateY(-5px);
  transition: transform 0.3s linear;
}

.section-name {
  color: #08aef5;
  font-weight: 600;
}
.section-name::before, .section-name::after {
  content: "";
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #08aef5;
  border-radius: 50%;
  margin: 2px 4px;
}

.diagonal-rounded-border {
  border-radius: 0px 18px 0px 12px;
}

.btn {
  border: 2px solid #08aef5;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  padding: 0.75rem 2.25rem;
  cursor: pointer;
  font-size: 17px;
  transition: color, background 0.3s linear;
}
.btn-blue {
  background-color: #08aef5;
  color: white;
}
.btn-blue:hover {
  color: #08aef5;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
}
.header .title {
  font-size: 3em;
  font-weight: 500;
}
.header > div:first-child {
  width: 60%;
}
.header .subtitle {
  color: rgb(186, 190, 200);
  font-weight: 500;
  margin-top: 1rem;
}

.highlight {
  position: relative;
  color: #08aef5;
}
.highlight .wavey-underline {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.highlight svg path {
  stroke: #08aef5;
  fill: #08aef5;
  width: 100%;
}
.highlight .sign-line {
  position: absolute;
  top: -19%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100px;
}
.highlight .sign-line path {
  fill: transparent;
  stroke-width: 10px;
}

.illustration-container {
  margin: auto;
}
.illustration-container img {
  width: 90%;
}

.go-up a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1rem;
  border-radius: 5px;
  background: #08aef5;
  color: white;
  z-index: 999;
  opacity: 0.5;
  box-shadow: 0px 0px 15px 5px rgba(6, 8, 35, 0.3);
}
.go-up a:hover {
  opacity: 1;
}

header {
  width: 100%;
  background: #08aef5;
  padding: 0.75rem 0;
  z-index: 5;
}
header .logo {
  flex: 1;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
header nav ul li a.active {
  color: rgb(6, 8, 35);
}
header nav ul li a.active::before {
  content: "";
  width: 5px;
  height: 5px;
  display: inline-block;
  background: rgb(6, 8, 35);
  border-radius: 50%;
  margin: 0 2px 2px 0;
}
header nav ul li a.active i {
  font-size: 13px;
}
header .buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
header .buttons .btn {
  width: 30px;
  border-radius: 5px;
}
header .buttons .btn-search {
  font-size: 1.5em;
  background: transparent;
  color: #fff;
  border: none;
}
header .buttons .btn-theme {
  padding: 5px 7px;
  font-size: 1em;
  color: #08aef5;
  background: white;
  border: none;
  border-radius: 5px;
}

#it-solutions {
  background-image: url(../img/pattern-bg-1.jpg);
}
#it-solutions .container {
  background: rgba(6, 8, 35, 0.6);
  display: grid;
  align-items: center;
}
#it-solutions .container .play-btn {
  width: 50px;
  height: 50px;
  background-color: #08aef5;
  color: white;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: relative;
  z-index: 1;
}
#it-solutions .container .play-btn::before {
  animation-delay: 0.6s !important;
  background: rgba(8, 175, 245, 0.5);
}
#it-solutions .container .play-btn::after {
  background: rgba(8, 175, 245, 0.5);
}
#it-solutions .container .play-btn::before, #it-solutions .container .play-btn::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: inherit;
  position: absolute;
  top: 0;
  animation: pulse 2s infinite linear;
  animation-delay: 0s;
  z-index: -1;
}
#it-solutions .title {
  font-weight: 900;
}
#it-solutions .subtitle {
  padding: 1rem 0;
}
#it-solutions img {
  max-width: 90%;
}
#it-solutions .social-media a {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}
#it-solutions .social-media a:hover {
  color: #08aef5;
}
#it-solutions .btn-start {
  background: transparent;
  color: #08aef5;
}
#it-solutions .btn-start:hover {
  background: #08aef5;
  color: white;
}
#it-solutions .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
main #services {
  margin: 5rem 0;
}
main #services .header button {
  background-color: #08aef5;
  color: #fff;
}
main #services .header button:hover {
  color: #08aef5;
  background-color: transparent;
}
main #services .services {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}
main #services .card {
  border: 1px solid #08aef5;
  border-radius: 10px;
  padding: 25px;
  position: relative;
}
main #services .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #08aef5;
  border-radius: 10px;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: width 0.2s linear;
}
main #services .card:hover::before {
  width: 100%;
}
main #services .card:hover .card-img svg path {
  fill: white;
  transition: fill 0.2s linear;
}
main #services .card:hover .btn {
  color: white !important;
}
main #services .card:hover img {
  filter: invert(0.5);
}
main #services .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
main #services .card .card-body p {
  color: rgb(186, 190, 200);
  font-weight: 500;
}
main #services .card .card-body .card-img {
  width: 54px;
  height: 54px;
}
main #services .card .card-body .card-img svg {
  width: 54px;
  height: 54px;
}
main #services .card .card-body h3 {
  font-weight: 600;
  font-size: 1.5em;
}
main #services .card .card-body .btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  color: #08aef5;
  padding-left: 0px;
}
main #services .card .card-body .btn:hover {
  color: white;
}
main #services .card .card-body .btn:hover i {
  transform: translateX(5px);
  transition: transform 0.3s linear !important;
}
main #services .card .card-body .btn i {
  padding-top: 3px;
}
main #about-us .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
  margin: 5rem 0;
}
main #about-us .about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main #about-us .about-us .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
main #about-us .about-us .cards .card {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 1rem;
}
main #about-us .about-us .cards .card .icon {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  font-size: 1.25em;
}
main #about-us .about-us .cards .card h4 {
  font-size: 1.5em;
}
main #about-us .about-us .cards .card p {
  color: rgb(186, 190, 200);
  font-weight: 500;
}
main #about-us .about-us a {
  color: white;
  text-decoration: none;
  background-color: #08aef5;
}
main #about-us .about-us a:hover {
  color: #08aef5;
  background-color: transparent;
}
main #about-us .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #08aef5;
  margin-top: 2rem;
  text-align: center;
}
main #about-us .footer img {
  width: 150px;
  margin-bottom: -0.7rem;
}
main #why-choose-us .container {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 5rem 0;
}
main #why-choose-us img {
  margin-bottom: -0.7rem;
}
main #why-choose-us ol {
  list-style-position: inside;
}
main #why-choose-us ol li {
  counter-increment: li;
}
main #why-choose-us ol li::marker {
  color: #08aef5;
  font-weight: 500;
  content: "0" counter(li) ".";
  font-size: 3em;
  font-family: "Jost", sans-serif;
}
main #why-choose-us ol li:last-child p {
  padding-bottom: 2rem;
}
main #why-choose-us ol h4 {
  font-size: 1.5em;
  display: inline;
}
main #why-choose-us ol p {
  padding-left: 5rem;
}
main #why-choose-us .btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
main #our-work {
  margin: 5rem 0rem;
  background-image: url(../img/pattern-bg-2.jpg);
}
main #our-work .container {
  height: 100%;
  background-color: rgba(6, 8, 35, 0.6);
}
main #our-work .our-work {
  display: grid;
  align-content: center;
  gap: 1rem;
  padding: 6rem 0;
  width: 100%;
  height: 100%;
}
main #our-work .card {
  background: rgba(0, 0, 0, 0.3137254902);
  text-align: center;
  border: 1px solid #08aef5;
  border-top-width: 5px;
  padding: 2rem 0;
  border-radius: 0 0 8px 8px;
}
main #our-work .card h4 {
  font-size: 3em;
  font-weight: 600;
}
main #portfolio {
  margin: 3rem 0;
}
main #portfolio .header button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
main #portfolio .header button i {
  padding-top: 2px;
}
main #portfolio .tabs {
  display: flex;
  align-items: start;
  gap: 1rem;
  padding-left: 8px;
  font-weight: 500;
  margin-bottom: 1rem;
}
main #portfolio .tabs .tab {
  position: relative;
  font-size: 18px;
}
main #portfolio .tabs .tab.active {
  color: #08aef5;
}
main #portfolio .tabs .tab.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  background-color: #08aef5;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
main #portfolio .items {
  display: grid;
  gap: 1rem;
}
main #portfolio .items .item {
  position: relative;
  overflow: hidden;
}
main #portfolio .items img {
  width: 100%;
  height: 100%;
}
main #portfolio .items .item-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.3137254902);
}
main #portfolio .items .item-name h5 {
  font-size: 18px;
}
main #portfolio .items .item-name i {
  transform: translateX(0px);
  padding: 1rem 0.75rem;
}
main #clients {
  padding: 4rem 0;
  text-align: center;
  background-color: #08aef5;
}
main #clients .clients {
  margin-top: 3rem;
}
main #clients .clients a img {
  width: 190px;
  height: 125px;
  border-radius: 10px;
  filter: grayscale(1);
}
main #clients .clients a:hover img {
  filter: grayscale(0);
}
main #pricingplans {
  margin: 3rem 0;
}
main #pricingplans .plans {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
main #pricingplans .plans .card {
  border: 1px solid #08aef5;
  padding: 1rem;
  width: 315px;
  margin: 2rem 0;
  border-radius: 10px 10px 0 0;
}
main #pricingplans .plans .card.best-plan {
  background: #08aef5;
  color: white;
  overflow: hidden;
  position: relative;
}
main #pricingplans .plans .card.best-plan sup {
  color: white !important;
}
main #pricingplans .plans .card.best-plan button {
  border-color: white;
  color: white !important;
}
main #pricingplans .plans .card.best-plan button:hover {
  background: white !important;
  color: #08aef5 !important;
}
main #pricingplans .plans .card.best-plan::after {
  content: "Most Popular";
  background: white;
  color: #08aef5;
  width: 200px;
  font-size: 13px;
  font-weight: 900;
  text-align: center;
  transform: rotateZ(42deg);
  position: absolute;
  top: 43px;
  right: -40px;
}
main #pricingplans .plans .card.best-plan .plan-header::after {
  background-color: white !important;
}
main #pricingplans .plans .card .plan-header {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
main #pricingplans .plans .card .plan-header .plan-name {
  font-size: 1.5em;
}
main #pricingplans .plans .card .plan-header .plan-price {
  font-size: 4em;
  font-weight: 600;
  height: 60px;
}
main #pricingplans .plans .card .plan-header .plan-price sup {
  font-size: 0.4em;
  color: #08aef5;
}
main #pricingplans .plans .card .plan-header .subtext {
  color: rgb(186, 190, 200);
  font-size: 1.2em;
  font-style: italic;
}
main #pricingplans .plans .card .plan-header::after {
  content: "";
  width: 200px;
  height: 2px;
  display: block;
  background-color: #08aef5;
  position: absolute;
  bottom: 0;
}
main #pricingplans .plans .card .plan-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
main #pricingplans .plans .card .plan-details ul {
  list-style-type: none;
}
main #pricingplans .plans .card .plan-details ul li {
  margin-bottom: 2rem;
  text-align: center;
}
main #pricingplans .plans .card .plan-details button {
  width: 100%;
  background: transparent;
  color: #08aef5;
}
main #pricingplans .plans .card .plan-details button:hover {
  background: #08aef5;
  color: white;
}
main #testimonials {
  position: relative;
  background-image: url("../img/pattern-bg-4");
  background-attachment: fixed;
}
main #testimonials .container {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #testimonials .header {
  text-align: center;
}
main #testimonials .header > div:first-child {
  width: 100%;
}
main #testimonials .slider-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
main #testimonials .slider-controls:has(button:focus) ~ .testimonial-container .testimonials .testimonial {
  transform: translate(-100%);
  transition: transform 1s ease-in;
}
main #testimonials .slider-controls button {
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3333333333);
  color: #fff;
}
main #testimonials .testimonial-container {
  width: 100%;
  margin: 3rem auto;
}
main #testimonials .testimonial-container .testimonials {
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-rows: 1fr;
  width: 100%;
  overflow: hidden;
}
main #testimonials .testimonial-container .testimonials .testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
main #testimonials .testimonial-container .testimonials .testimonial .testimonial-img {
  width: 80px;
  height: 80px;
  border: 3px solid #08aef5;
  border-radius: 50%;
}
main #testimonials .testimonial-container .testimonials .testimonial .testimonial-img img {
  width: 100%;
}
main #testimonials .testimonial-container .testimonials .testimonial .testimonial-text {
  text-align: center;
  width: 50%;
}
main #testimonials .testimonial-container .testimonials .testimonial .testimonial-author p {
  color: rgb(186, 190, 200);
  text-align: center;
}
main #blog {
  margin: 2rem 0 5rem;
}
main #blog .blog {
  display: grid;
  gap: 1.5rem;
}
main #blog .blog .card img {
  transform: scale(1.1);
}
main #blog .blog .card:hover img {
  transform: scale(1.2);
  transition: transform 0.3s linear;
}
main #blog .blog .card button {
  background: transparent;
  padding-left: 0;
  color: #08aef5;
  border-color: transparent;
}
main #blog .blog .card .card-header {
  position: relative;
  overflow: hidden;
}
main #blog .blog .card .card-header span {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(0, 0, 0, 0.4666666667);
  color: #fff;
  padding: 3px 15px;
  border-radius: 50px;
}
main #blog .blog .card .card-body {
  background: rgb(7, 34, 64);
  padding: 1rem;
}
main #blog .blog .card .card-body .category-author a {
  padding: 0 10px;
  font-size: 13px;
  color: rgb(186, 190, 200);
}
main #blog .blog .card .card-body .category-author a:first-child {
  border-right: 1px solid rgb(186, 190, 200);
  padding-left: 0;
}
main #blog .blog .card .card-body .category-author a:hover,
main #blog .blog .card .card-body .category-author a i {
  color: #08aef5;
}
main #blog .blog .card .card-body .card-title .card-text {
  font-size: 1.5em;
  font-weight: 500;
}
main #blog .blog .card .card-body .card-title a {
  color: white;
}
main #blog .blog .card .card-body .card-title a:hover {
  color: #08aef5;
}

footer {
  background-image: url("../img/pattern-bg-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
footer .container {
  background: rgba(6, 8, 35, 0.9);
}
footer .footer {
  display: grid;
  gap: 1rem;
  padding-top: 2rem;
}
footer .footer form {
  margin-top: 1rem;
}
footer .footer form label {
  font-weight: 500;
}
footer .footer form div {
  display: flex;
}
footer .footer form div input[type=email] {
  flex: 3;
  border: 0;
  color: #fff;
  height: 50px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.3137254902);
  padding: 0.25rem;
}
footer .footer form div input[type=email]::-moz-placeholder {
  color: #fff;
}
footer .footer form div input[type=email]::placeholder {
  color: #fff;
}
footer .footer form div button {
  flex: 1;
  background-color: #08aef5;
  color: white;
  height: 50px;
  border: 0;
  padding: 0 1rem;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
footer .footer form .warning {
  color: rgb(186, 190, 200);
}
footer .footer .links,
footer .footer .resourse {
  list-style-type: none;
  margin-top: 1rem;
}
footer .footer ul li {
  margin-bottom: 0.5rem;
}
footer .footer ul li i {
  color: #08aef5;
}
footer .footer ul li a {
  color: #fff;
  font-weight: 500;
}
footer .footer ul li:hover a {
  transform: translateX(5px);
  transition: transform 0.1s linear;
}
footer .footer ul li,
footer .footer .social-media {
  display: flex;
  gap: 0.5rem;
}
footer .footer .contact-information {
  margin-bottom: 1rem;
  font-weight: 600;
}
footer .footer .contact-information > * {
  margin-bottom: 1rem;
}
footer .footer .contact-information div a {
  color: white;
  background-color: #08aef5;
  display: grid;
  place-content: center;
  border-radius: 5px;
  width: 25px;
  height: 25px;
}
footer .footer .contact-information .social-media a:hover {
  color: #08aef5;
  background-color: white;
}
footer .copyright {
  margin-top: 3rem;
  font-weight: 500;
  text-align: center;
}

/*! desktop */
@media (min-width: 993px) {
  .container {
    padding: 0 10%;
  }
  header nav ul li a:hover {
    color: rgb(6, 8, 35);
  }
  .dropdown-container {
    position: relative;
  }
  .dropdown-container .dropdown {
    padding: 0.5rem;
    position: absolute;
    left: 50%;
    top: 23px;
    transform: translateX(-50%);
    background: #08aef5;
    color: white;
    text-align: center;
  }
  .dropdown-container .dropdown li {
    width: 150px;
    height: 100%;
    padding: 1rem 0.5rem;
  }
  .dropdown-container .dropdown li a {
    width: 100%;
    display: block;
  }
  .dropdown-container:hover .dropdown {
    display: block;
  }
  #it-solutions .container {
    grid-template-columns: 1fr 1fr;
  }
  #it-solutions .header {
    flex-direction: column;
    align-items: start;
  }
  #services .services {
    grid-template-columns: repeat(3, 1fr);
  }
  #about-us .card {
    width: 48%;
  }
  #about-us .card .icon {
    color: #08aef5;
    background-color: rgba(8, 175, 245, 0.5);
  }
  #about-us .card:hover .icon {
    transform: translateY(-10px);
    background: #08aef5;
    color: white;
    transition: all 0.3s linear;
  }
  #our-work .our-work {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 250px);
  }
  #portfolio .items {
    grid-template-columns: repeat(3, 1fr);
  }
  #portfolio .items .item .item-name {
    bottom: -48px;
  }
  #portfolio .items .item .item-name i {
    transform: translateX(-40px);
  }
  #portfolio .items .item:hover img {
    transform: scale(1.1);
    transition: all 0.3s linear;
  }
  #portfolio .items .item:hover .item-name {
    bottom: 0;
    transition: bottom 0.3s linear;
  }
  #portfolio .items .item:hover .item-name i {
    transform: translateX(0px);
    transition: transform 0.3s 0.3s linear;
  }
  #portfolio .items .item:hover .item-name i:hover {
    background: #08aef5;
    color: white;
    padding: 1rem 0.75rem;
  }
  #pricingplans .plans {
    justify-content: space-between;
  }
  #blog .blog {
    grid-template-columns: repeat(3, 1fr);
  }
  footer .footer {
    grid-template-columns: 2fr repeat(3, 1fr);
  }
}
/*? tablet */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    padding: 0 5%;
  }
  .header {
    flex-wrap: wrap;
    align-items: start !important;
    margin-bottom: 2rem;
  }
  header {
    position: relative;
  }
  header nav {
    border-top: 3px solid rgb(6, 8, 35);
    background: #08aef5;
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 2rem;
  }
  header nav ul {
    flex-direction: column;
  }
  .dropdown-container:hover .dropdown {
    display: block;
  }
  .dropdown li {
    padding: 0.75rem;
  }
  .mobile-menubtn-label {
    display: block;
  }
  .mobile-menubtn:checked ~ nav {
    display: block;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
  }
  .illustration-container {
    text-align: center;
  }
  .illustration-container img {
    width: 50%;
  }
  #about-us .container {
    flex-wrap: wrap;
  }
  #about-us .about-us .cards {
    grid-template-columns: 1fr;
  }
  #about-us .about-us .cards .card {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  #why-choose-us .container {
    flex-wrap: wrap-reverse;
  }
  #clients .clients {
    grid-template-columns: repeat(3, 1fr);
  }
  #portfolio .items .item .item-name {
    bottom: 0px;
  }
  #services .services,
  #our-work .our-work,
  #pricingplans .plans,
  #portfolio .items {
    grid-template-columns: repeat(2, 1fr);
  }
  #blog .blog,
  #it-solutions .container {
    grid-template-columns: 1fr;
  }
  footer .footer {
    grid-template-columns: 2fr 1fr;
  }
}
/* mobile */
@media (max-width: 767px) {
  .container {
    padding: 0 2%;
  }
  .illustration-container {
    text-align: center;
  }
  .illustration-container img {
    width: 50%;
  }
  header {
    position: relative;
  }
  header nav {
    border-top: 3px solid rgb(6, 8, 35);
    background: #08aef5;
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 2rem;
  }
  header nav ul {
    flex-direction: column;
  }
  .mobile-menubtn-label {
    display: block;
  }
  .mobile-menubtn:checked ~ nav {
    display: block;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
  }
  .dropdown-container:hover .dropdown {
    display: block;
  }
  .dropdown li {
    padding: 0.75rem;
  }
  #it-solutions .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #about-us .container {
    flex-wrap: wrap;
  }
  #about-us .about-us .cards {
    grid-template-columns: 1fr;
  }
  .header {
    flex-wrap: wrap;
    align-items: start !important;
    margin-bottom: 2rem;
  }
  #about-us .card {
    width: 100%;
  }
  #why-choose-us .container {
    flex-wrap: wrap-reverse;
  }
  #pricingplans .plans {
    justify-content: center;
  }
  #portfolio .tabs {
    justify-content: center;
    flex-wrap: wrap;
  }
  #portfolio .items {
    padding: 0 10%;
  }
  #portfolio .items .item .item-name {
    bottom: 0px;
  }
  #it-solutions .container,
  #portfolio .items,
  #clients .clients,
  #services .services,
  #our-work .our-work,
  #blog .blog,
  #pricingplans .plans,
  footer .footer {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */